.main-banner {
  min-height: 490px;
  background: #fbfbfb url("../img/hero-mobile@1x.jpg") no-repeat top center;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .main-banner {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: auto 355px;
  }

  .main-banner--catalog {
    min-height: 178px;
    background: #f1f1f1;
  }
}

.main-banner--catalog {
  min-height: 178px;
  background: #f1f1f1;
}

.main-banner__main-list {
  display: none;
}

.main-banner__new-list {
  display: none;
}

.main-banner__link-delivery {
  display: none;
}

.main-banner__title {
  width: 250px;
  padding-top: 71px;
  padding-bottom: 122px;
  margin: 0 auto;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #010000;
}

.main-banner__title--catalog {
  padding-bottom: 20px;
  color: @black;
}

.main-banner__link {
  box-sizing: content-box;
  display: block;
  position: relative;
  min-height: 43px;
  width: 106px;
  padding-top: 25px;
  padding-right: 185px;
  padding-bottom: 30px;
  padding-left: 29px;

  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: @white;
}

.main-banner__link--interior {
  background-color: @sea;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 37px;
    z-index: 1;
    width: 40px;
    height: 62px;
    background: url("../img/interior.svg") no-repeat top center;
    opacity: 0.5;
  }
}

.main-banner__link--toy {
  background-color: @sea-dark;

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    right: 27px;
    z-index: 1;
    width: 60px;
    height: 60px;
    background: url("../img/toy.svg") no-repeat top center;
    opacity: 0.5;
  }
}

.main-banner__bottom-list {
  .list-reset();
}

@media (max-width: @mobile-width-only) {
  .main-banner__link {
    margin: 0 auto;
  }

  .main-banner__bottom-item--interior {
    background-color: @sea;

    &:hover,
    &:focus {
      background-color: @sea-hover;
      margin-top: -5px;
      padding-bottom: 5px;

      & .main-banner__link {
        background-color: @sea-hover;

        &::before {
          opacity: 0.7;
        }
      }
    }

    &:active {
      & .main-banner__link {
        color: rgba(255, 255, 255, 0.3);

        &::before {
          opacity: 0.3;
        }
      }
    }
  }

  .main-banner__bottom-item--toy {
    background-color: @sea-dark;

    &:hover,
    &:focus {
      background-color: @sea-dark-hover;
      margin-top: -5px;
      padding-bottom: 5px;

      & .main-banner__link {
        background-color: @sea-dark-hover;

        &::before {
          opacity: 0.7;
        }
      }
    }

    &:active {
      & .main-banner__link {
        color: rgba(255, 255, 255, 0.3);

        &::before {
          opacity: 0.3;
        }
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .main-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    min-height: 756px;
    background: #f9f9f9 url("../img/hero-tablet@1x.jpg") no-repeat top center;

    &::before {
      position: absolute;
      content: "";
      z-index: 2;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 23px;
      background: url("../img/bg-zigzag-fill.svg") repeat top center;
    }
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .main-banner {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: auto 747px;
    }

    .main-banner--catalog {
      min-height: 237px;
      background: #f1f1f1;
    }
  }

  .main-banner--catalog {
    min-height: 237px;
    background: #f1f1f1;
  }

  .main-banner__title {
    order: 2;
    width: 497px;
    padding-top: 91px;
    padding-bottom: 0;
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;
    color: #000000;
  }

  .main-banner__title--catalog {
    padding-top: 33px;
    padding-bottom: 40px;
  }

  .main-banner__top-wrapper {
    width: @tablet-width;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .main-banner__bottom-list {
    width: @tablet-width;
    padding-right: 50px;
    padding-left: 50px;
    margin: auto;
    margin-top: 375px;
    margin-bottom: 0;
    position: relative;
    order: 3;
    display: flex;
    flex-wrap: wrap;
  }

  .main-banner__link {
    width: 111px;
    padding-top: 27px;
    padding-left: 36px;
    padding-bottom: 34px;
    font-size: 20px;
    line-height: 30px;
  }

  .main-banner__link--interior {
    &:hover,
    &:focus {
      padding-bottom: 39px;
      margin-top: -5px;
      background-color: @sea-hover;

      &::before {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: @sea-hover;
      color: rgba(255, 255, 255, 0.3);

      &::before {
        opacity: 0.3;
      }
    }
  }

  .main-banner__link--toy {
    width: 94px;
    padding-right: 204px;

    &:hover,
    &:focus {
      padding-bottom: 39px;
      margin-top: -5px;
      background-color: @sea-dark-hover;

      &::before {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: @sea-dark-hover;
      color: rgba(255, 255, 255, 0.3);

      &::before {
        opacity: 0.3;
      }
    }
  }

  .main-banner__link--interior::before {
    top: 30px;
  }

  .main-banner__link--toy::before {
    top: 31px;
    right: 33px;
  }

  .main-banner__main-list {
    .list-reset();
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    align-items: center;
    background-color: transparent;
  }

  .main-banner__new-list {
    display: none;
  }

  .main-banner__link-delivery {
    display: block;
    width: 290px;
    padding-top: 17px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: auto;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: #444444;
    background-color: transparent;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: rgba(68, 68, 68, 0.6);
    }

    &:active {
      text-decoration: underline;
      color: rgba(68, 68, 68, 0.3);
    }
  }

  .main-banner__item-link {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    color: @black;
    padding-top: 17px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 0;

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: @desktop-width) {
  .main-banner {
    min-height: 761px;
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat top center;

    &::before {
      height: 34px;
      background: url("../img/bg-zigzag-fill.svg") 50% 50%;
    }
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .main-banner {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: auto 747px;
    }

    .main-banner--catalog {
      min-height: 271px;
      background: #f1f1f1;
    }
  }

  .main-banner--catalog {
    min-height: 271px;
    background: #f1f1f1;
  }

  .main-banner__top-wrapper {
    width: @desktop-width;
  }

  .main-banner__bottom-list {
    width: @desktop-width;
    margin-top: 349px;
  }

  .main-banner__item-link {
    padding-right: 61px;
  }

  .main-banner__title {
    width: 616px;
    padding-top: 91px;
    padding-bottom: 10px;
    font-size: 53px;
    line-height: 57px;
  }

  .main-banner__title--catalog {
    padding-top: 33px;
    padding-bottom: 60px;
  }

  .main-banner__main-list {
    display: none;
  }

  .main-banner__new-list {
    .list-reset();
    display: flex;
    flex-wrap: wrap;
  }

  .main-banner__link {
    min-height: 50px;
    width: 160px;
    padding-right: 329px;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 30px;

    &:hover,
    &:focus {
      padding-bottom: 55px;
    }
  }
}
