@media (max-width: @mobile-width-only) {
  .page-header {
    position: relative;
    display: flex;
    flex-direction: column;

    min-height: 79px;

    background-color: @white;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    background-color: @white;
  }

  .page-header__wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
